<!DOCTYPE HTML>
<html>
  <style>
    p {
	    color: BlueViolet;
		background-color: Chartreuse;
		font-weight: bold;
		text-align: center;
		}
   <p>This paragraph is written in BlueViolet and with a bold style</p>
   </style>
   </html>