<!DOCTYPE HTML>
<html>
  <style>
    p {
	    color: BlueViolet;
		background-color: Chartreuse;
		font-weight: bold;
		text-align: center;
		}
   <p>This paragraph is written in BlueViolet and with a bold style</p>
   h1 {
  text-shadow: 2px 2px #ff0000;
}
<h1>This paragraph is written in text-shadow</h1>
  </style>
</html>